.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: all 0.4s ease; */
}

.fade-out-animation {
    opacity: 0;


}

.colorTextPrimary {
    color: #67328E !important
}

/* ---Video--- */

.h1-style {
    margin-bottom: 1rem;
}

.selected {
    border: solid 3px #75797A;
    font-weight: bold;
}

.player-container {
    display: flex;
    width: 100%;
    gap: 1rem;
    height: 350px;
    margin-bottom: 3rem;
    padding: 1rem;
    background: #fff;


}

.video-player {
    width: 60%;
}

.info-video-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 10px;
    justify-content: center;
    text-align: left;
    transition: max-height 0.5s ease
}



.info-video-container h2 {
    font-size: 1rem;
    font-weight: 600;
    padding-top: 0.5rem
}


.info-video-container p {
    margin-top: 10px;
}


.video-box-style {
    box-shadow: none;
    height: 230px;
    grid-template-rows: 70% 30%;
}

.box .box-img {

    border-radius: 8px;
}

.h2-style {
    color: #444;
    padding: 0;
    font-size: 1.2rem;
}

.description-style {
    border-radius: 0 0 15px 15px;
    background: #fff;
}

.ver-mas {
    border: none;
    background: none;
}

.description-video {
    transition: opacity 0.5s ease
}








.info-controler {
    text-decoration: none;
    display: none;
    width: 100%;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 0.5rem;
    padding-bottom: 0.5rem;

}

.mc-padding {
    padding: 100px 5%;
    padding-top: 50px;
    background: #f2f2f2;

}

.hr-line {
    margin: 2rem 0;
    border: solid 1px #000000;
    width: 100%;
}

.hrl-style {
    width: 80%;
}


/* ---Footer--- */

footer {
    height: 10vh;
    background: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
}




/*---MEDIA QUERY--- */


@media screen and (max-width: 800px) {

    .main-container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-bottom: 2rem;
    }



    /* ---Video--- */

    .h1-style {
        margin: 1rem 0;
        font-size: 1rem;
        padding: 0 0.5rem;
        font-weight: bold;
    }

    .player-container {
        height: auto;
        gap: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 0px;
        position: sticky;
        top: 59.65px;
        padding: 0px;
        margin-bottom: 1rem;


    }

    .video-player {
        width: 100%;
        height: 200px;

    }

    .ivc-hidden {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }



    .info-video-container {
        transition: height 0.5s ease;
        height: 160px;
        padding: 0 0.5rem;
        width: 100%;
        background: #dadada;
        overflow: hidden;
        margin-top: 1rem;
        border-radius: 15px;
    }

    .info-video-container p {
        font-size: 14px
    }

    .ver-mas{
        color: #67328e
    }
    .oculto {

        height: 0
    }




    .info-controler {
        display: block;
    }

    .box .box-img {

        border-radius: 0px;
    }

    .mc-padding {
        padding: 0px 0%
    }

    .hr-line {
        display: none;
    }
}


@media screen and (max-width: 550px) {

    /* ---header--- */

    .header-nav {
        position: sticky;
        top: 0;
    }


    .bi-class {
        margin-bottom: 2rem;
    }

    .main-container .box-container .box:hover {
        box-shadow: none;
        transform: none;
    }

}



@media screen and (max-width: 450px) {


    /* ---HEADER--- */

    .user-nav {
        display: flex;
        padding: 0.8rem 5%;
        align-items: center;
        justify-content: space-between;

    }

    .modalTopRight {
        top: 65px;
    }


    /* ---LOGIN--- */

    .form-container form {
        width: 90%;
    }

    .main-container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    }



}