.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: all 0.4s ease; */
}

.fade-out-animation {
    opacity: 0;


}

.colorTextPrimary {
    color: #67328E !important
}


/* ---Video--- */


.player-container {
    width: 100%;
   
    gap: 1rem;
    height: 350px;
    margin-bottom: 5rem;

}

.video-player {
    width: 60%;
}

.info-video-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background: #bcb8b8;
    border-radius: 10px;
}

.ivc-hidden{
    display: none;
}

.info-video-container h2 {
    font-size: 1rem;
    font-weight: 600;
}


.info-video-container p {
    margin-top: 100px;
}

.info-video-container{
    display: none
}

.video-box-style {
    box-shadow: none;
    height: 200px;
    grid-template-rows: 70% 30%;
}

.box .box-img {

    border-radius: 8px;
}

.mc-padding {
    padding: 100px 5%
}

.hr-line {
    margin: 2rem 0;
    border: solid 1px #000000;
    width: 100%;
}

.hrl-style {
    width: 80%;
}


/* ---Footer--- */

footer {
    height: 10vh;
    background: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
}




/*---MEDIA QUERY--- */


@media screen and (max-width: 800px) {

    .main-container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }



    /* ---Video--- */

    .player-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: 200px;
        margin-bottom: 0px;
        position: sticky;
        top: 59.65px;
        background: #fff;
    }

    .video-player {
        width: 100%;
        height: 90%;
    }

    .ivc-hidden{
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }


    .info-video-container p {
        margin-top: 10px;
    }



    .box .box-img {

        border-radius: 0px;
    }

    .mc-padding {
        padding: 0px 0%
    }

    .hr-line {
        display: none;
    }
}


@media screen and (max-width: 550px) {

    /* ---header--- */

    .header-nav {
        position: sticky;
        top: 0;
    }


    .bi-class {
        margin-bottom: 2rem;
    }

    .main-container .box-container .box:hover {
        box-shadow: none;
        transform: none;
    }

}



@media screen and (max-width: 450px) {


    /* ---HEADER--- */

    .user-nav {
        display: flex;
        padding: 0.8rem 5%;
        align-items: center;
        justify-content: space-between;

    }

    .modalTopRight {
        top: 65px;
    }


    /* ---LOGIN--- */

    .form-container form {
        width: 90%;
    }

    .main-container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    }



}